<html layout:decorate="~{layout}">
<div layout:fragment="content">
    <h2>회원가입</h2>
    <form th:action="@{/auth/signup}" th:object="${zuserForm}" method="post">
        <div>
            <label for="email">이메일</label>
            <input type="email" th:field="*{email}">
        </div>
        <div class="mb-3">
            <label for="password1" class="form-label">비밀번호</label>
            <input type="password" th:field="*{password1}" class="form-control">
        </div>
        <div class="mb-3">
            <label for="password2" class="form-label">비밀번호 확인</label>
            <input type="password" th:field="*{password2}" class="form-control">
        </div>
        <div class="mb-3">
            <label for="zname" class="form-label">이름</label>
            <input type="text" th:field="*{zname}" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">회원가입</button>
    </form>
</div>

</html>